.search-main {
  float: right;
}

.navbar-brand {
  padding: 5px 5px;
}

.el-center {
  text-align: center;
}

.footer {
  background-color: #333;
  padding-top: 20px;
  height: 100px;
}

.footer p {
  color: #fff;
}